<% include ../partials/header %> 

 <div class="container">
     <header class="jumbotron">
         <div class="container">
             <h1>Filtered Results: </h1>
             <p>Fancy electronics handpicked by website's users</p>
             <p>
                <a class="btn btn-primary btn-large" href="/techs/new">Add New Tech Product</a>
                <a class="btn btn-primary btn-large" href="/techs/filter">Filter Active Product</a>
                <div style="width: 25%">
                <form action="/search" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="itemName" placeholder="Item Name">
                </div>
                <div class="form-group">
                    <button class="btn btn-s btn-primary btn-block">Search</button>
                </div>
                </div>
            </form>
             </p>
         </div>
     </header>
     
     <div class="row text-center" style="display:flex; flex-wrap: wrap;">
        <% techs.forEach(function(tech){ %>
           <% if(tech.quantity > 0) { %>
            <div class="col-md-3 col-sm-6">
                <div class="thumbnail">
                   <img src="<%= tech.image %>">
                   <div class="caption">
                       <h4><%= tech.name %></h4>
                   </div>
                   <p>
                       <a href="/techs/<%= tech._id %>" class="btn btn-primary">More Info</a>
                       <a href="/wishlist/<%= tech._id %>" class="btn btn-primary">Add to Wish List</a>
                   </p>
                </div>
            </div>
            <% } %>
        <% }); %>
    </div>
    <br>
      <a href="/techs">Go Back</a>
</div>

<% include ../partials/footer %>
